body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;

}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/back.jpg) no-repeat center top / cover;
	
	height: 100vh;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 40px;
	float: left;
}

nav {
	float: right;
	margin-top: 45px;
    padding: 10px;
    border: 2px double;
    border-color: white;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles__first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#services {
	padding-bottom: 120px;
}

#portfolio {
	background: url(../img/cat.jpg) no-repeat center top / cover;
	padding-bottom: 120px;
}

.names {
	font-weight: bold;
	color: white;
}
.works {
	margin-top: 70px;
}

.works img {
	background-size: 125px;
	width:125px;
	height:125px;
	border-radius: 50% ;
	margin: 20px auto;
	padding: 28px;
}
}

.works img:nth-child(2) {
	
}

.works img:last-child {
	
}

footer .container > * {
	border: 1px solid red;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
section{
  text-align:center;
}
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #FFDAB9;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}


.name{
	font-size:20px;
	margin-right:105px;
}

.kind{
	font-size:20px;
	margin-right:98px;
}

.breed{
	font-size:20px;
	margin-right:70px;
}

.gender{
	font-size:20px;
	margin-right:138px;
}

.charac{
	font-size:20px;
	margin-right:70px;
}

.age{
	font-size:20px;
	margin-right:170px;
}

.photo{
	font-size:20px;
	margin-right:32px;
}

.story{
	font-size:20px;	
}

.name1{
	margin-top:20px;
	width:250px;
	font-size:15px;
	padding:5px;
	border-radius:5px;
}

.breed-box{
	margin-top:20px;
	width:250px;
	font-size:15px;
	padding:5px;
	border-radius:5px;
}

.rad1{
	margin-top:20px;
	font-size:15px;
}

.rad2{
	margin-top:20px;
	font-size:15px;
}

.character{
	margin-top:20px;
	font-size:15px;
	padding:10px;
}

.age-select{
	font-size:15px;
	margin-top:20px;
}

.photo-box{
	font-size:15px;
	margin-top:20px;
	
}

.story-box{
	
	margin-top:15px;
}

.sbros{
	font-size:20px;
	background: #00C1FF;
	border-radius:5px; 
	padding:5px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}

.myforma{
	padding:80px;
	font-size:20px;
	
}

.wrapper{
	width: 76%;
	margin: 0 auto; 
}

main .main__about{
	display: flex;
	padding: 100px 0 100px 0;
}

.about__right{
	margin-left:175px;
}

.about__right h1{
	display:inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
}

.about__right p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}

.about__right li{
padding-left: 25px;
margin-top: 10px;
}

.mw-100{
	min-width: 100%;
}


.form{
	width: 50%;
	margin:50px auto;
}

.feedback-input{
	color:#00C1FF;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	background-color: #fff;
	padding:13px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px solid transparent;
	border-bottom: 1px solid #00C1FF;
}

textarea{
	width: 100%;
	height: 150px;
	resize: vertical;
}

.button-submit{
	float:left;
	width: 100%;
	border:0px solid transparent;
	cursor: pointer;
	background-color: #00C1FF;
	color: white;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 300;
}

.button-submit:hover{
	background-color: #fff;
	color: #00C1FF;
	border: 1px solid #00C1FF;
}

.ease{
	width: 0;
	height: 74px;
	background-color: #fbfbfb;
}


#faq {
  background-color: #fff;
  border-top: 2px dashed #e4e3e3;
  width: 100%;
  float: left;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 801px) {
  #faq div {
    width: 25%;
    margin-left: 6%;
    float: left;
  }
}

@media (max-width: 800px) {
  #faq div {
    width: 80%;
    margin-left: 10%;
    float: left;
  }
}

#faq .title {
  font-weight: lighter;
  color: #a3a0ad;
  margin-bottom: 20px;
  font-size: 2.2em;
}

#faq .heading {
  color: #7d7d7d;
  font-size: 1.3em;
  font-weight: bold;
}

#faq p {
  font-family: Arimo, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4a4a4a;
  font-size: 0.95em;
  margin-bottom: 40px;
}